<!DOCTYPE html>
<html lang="en">
<head>
	    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
 
<title>Mydison Limited Magic iRIID Kinect Sensor App 3D Computer Video Vision User Interface Request Free Trial Password Submition Thank You Respond Page</title>

<meta name="description" content="Request Free Trial Password submition Thank You Respond page ">
<meta name="keywords" content="
computer video vision interface, video vison interface, 3D video vision interface, virtual video vision, 3d computer video vision interface, video vision keyboard interface, 3d virtual keyboard interface, 
virtual video vision keyboard, gesture keyboard interface, Kinect keyboard interface app, kinect virtual interface app, 
virtual computer interface, vision interface, gesture interface, virtual keyboard interface, gesture interface robot, 
interface input device, virtual gesture keyboard interface technology, sci-fi video vision interface, sci-fi video vision keyboard, 
magic video vision keyboard, magic video vision interface, magic computer vision interface, magic computer interface, magic virtual interface, 
virtual computer interface invention, virtual video interface invention, virtual vision interface invention, virtual vision keyboard invention, 
intelligent video vision keyboard interface, intelligent video vision keyboard, gesture virtual control interface, 
robotic interface, intelligent gesture interface, Skype, PowerPoint, Free trial video vision software download, marketing app, business app, nature user interface, Microsoft Kinect, Kinect Game App ">

<meta name="abstract" content="Magic iRIID Computer Video Vision Interface, Microsoft Kinect App, Gesture Control Interface "> 

    <link href="images/mydicon.ico" rel="shortcut icon" type="image/ico">

	<link rel="stylesheet" href="css/bootstrap.min.css">
		<script>
		  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
		  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
		  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
		  })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
		
		  ga('create', 'UA-55933055-1', 'auto');
		  ga('send', 'pageview');
		</script>
</head>
<body>
	
		
	<div id="top0" >
		<div class="row header">
			<div class="pull-left">
				<H1>Mydison Limited</h1>
			</div>
			<div class="pull-right">
				<img alt="Comodo" title="Comodo" src="images/comodosecure.png" width="52" height="56" align="center"/>
			</div>
		</div>
	</div>		  

	
	<div class="container">	
	<div id="top">
	
	<div class="container text-center">
		<h1 class="page-header">Thanks For your Request</h1>
		<a href="index.html">Go back to Home page</a>
	</div>
	
	<p>&nbsp;</p>
	
	</div>
	</div>
	
		<div id="top0">
			<div class="row" align="center">
			<a href="#top">Back to Top Menu</a>
			                
                  <p><h5>Mydison Limited &copy; 2001-&nbsp;2015&nbsp;
                <a href="https://www.mydison.com/" target="_blank">www.Mydison.com</a><br>
                
                Office Address: 2160 5th Concession West RR # 2, Branchton,
                Ontario, N0B 1L0, Canada<br>
                Email address:  <a href="mailto:Support&#64Mydison.com?Subject=Contact Support">Email Us </a> ; Tel: <span class="skype_c2c_print_container skype_c2c notranslate">1-905-730-0189</span>
                </h5>
                </p>
                
               <p>
                <a href="https://twitter.com/Mydison" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @Mydison</a> 
                <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+'://platform.twitter.com/widgets.js';fjs.parentNode.insertBefore(js,fjs);}}(document, 'script', 'twitter-wjs');</script>
                </p>

                <table width ="100%" aligen="center" border="1" >
                  	<tr>
                  	
							<td  align="center"><b>
                	   		<a href="http://www.Mydison.com/index.html" >Home</a></b>
                	   		</td>

							<td  align="center"><b>
                	   		<a href="http://www.Mydison.com/Helps/index.php" >iRIID Forum</a></b>
                	   		</td>

                  	
                    		<td  align="center"><b>
                	   		<a href="https://www.Mydison.com/Privacy.html" >Privacy Policy
                            </a></b>
                	   		</td>
                    
                    		<td  align="center"><b><a href="https://www.Mydison.com/TermService.html" >Terms of Service
                              </a></b>
                    		</td>
                  	</tr>
                	</table>
                	
                   
            	<P><B>Copyright&nbsp; &copy; 2015 Mydison Limited. All rights reserved. </B></P>                   

    </div>
    

</body>
</html>